/* Footer.css */

.footer {
    background-color: #333;
    color: white; 
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: 1000; 
  }
  
  .footer-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-icons li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-icons a {
    text-decoration: none;
    color: white;
    font-size: 24px; 
    transition: color 0.3s ease;
  }
  
  .footer-icons a:hover {
    color: #3498db; 
  }
  